.mainjoin
{
    padding-top: 12%;
    padding-left: 20%;
    
    background: linear-gradient(to right, rgba(255,0,0,0),#213a50);
}
.card .header1
{
    margin-bottom: 10px;
    box-sizing: border-box;
}
