<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-8" style="padding-left: 20%;">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/profiler.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-0.jpg" alt="..."/>

                                <h4 class="title">{{currentUser.Name}}<br />
                                    <small>PORTFOLIO</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br>
                            Your chick she so thirsty <br>
                            I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    
                </div>
            </div>
        </div>
    </div>
</div>
